#logo {
   max-height: 150px;
   border-radius: 300px;
   box-shadow: 0px -2px 10px #81366238;
   margin: 30px;
 }
 /*
 <a href="mailto:cboliveirasbr@gmail.com" target="_blank"><i class="fas fa-envelope fa-1x"></i></a>

 