.button{
  font-family: 'Jost', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 10px;
  border-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #181515da;
  text-decoration: none;
}

  .button:hover {
    text-decoration: none;
    color: #868686;
    border: 2px solid #868686;
    transition: .5s ease-in-out;
    transition-property: inherit;
  }

  .button:active {
    border: 2px solid #868686;
  }
