.navbar-minimal {
  height: 60px;
  background: black;
  border-radius: 4px;
  box-shadow: 0px 5px 15px #81366238;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3vw;
  
}